@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Lato:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
   /* --- Fonts --- */
    --font-heading: 'Cormorant Garamond', serif;
  --font-body: 'Lato', sans-serif;
}

/* Apply Syne font to all heading elements */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

/* Apply Lato font to all these elements */
p, a, li, span, button, input, label, select, textarea{
  font-family: var(--font-body);
}


